h1{
    text-align: center;
    color: red;
    transition-property: font-size, color;
    transition-duration: 3s;
}
h1:hover{
    color: cornflowerblue;
    font-size: 70px;
}
.one::first-line{
    color: red;
    font-size: 35px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1598974397872-1375997e324e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}


.two{
    color: black;
    font-size: 20px;
}
img{
    float: left;
    margin-right: 20px;
}
ul{
    text-align: center;
    text-decoration: none;
    color: white;
    list-style: none;
}
ul a{
    color: red;
}
.footer {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
  }
.topnav{
    text-align:left;
    height: 20px;
    line-height:10px;
}
.menu{
    margin: 0 40px 0 0;
    display: inline;
}
.menu a{
    text-decoration: none;
    color: white;
    line-height: 20px;
    margin-left: 15px;
}
label {
    font-size: 30px;
    line-height: 10px;
    /* display: none; */
}
#toggle{
    display: none;
}
@media screen and (min-width: 500px) {
    label {
        display: block;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        margin: 0;
    }

    #toggle:checked+.menu {
        display: block;
    }
}

@media screen and (min-width:800px) {
    label {
        display: block;
        color: blue;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        margin: 0;
        color: blue;
    }

    #toggle:checked+.menu {
        display: block;
    }
}

@media screen and (min-width:1200px) {
    label {
        display: block;
        color: red;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        margin: 0;
        color: red;
    }

    #toggle:checked+.menu {
        display: block;
    }
}